<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Dinosaur Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dino.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='dino.js') }}"></script>
    </head>
    <body>
        <a href="/" class="back-to-aboutme">← Geri</a>      
        <canvas id="board"></canvas>
    </body>
</html>